#quote-box {
  margin: 28vh 5px;
  border-radius: 5px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  border-top: 6px solid rgb(184, 95, 236);
  background-color: white;
}

@media only screen and (min-width: 767px) {
  #quote-box {
    max-width: 720px;
    margin: 38vh auto;
  }
}

#quote-container {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  margin-bottom: 12px;
}

#text {
  align-self: center;
  padding: 12px 20px;
}

#author {
  align-self: flex-end;
  padding: 12px 20px;
}

#btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 20px;
  background-color: hsl(220, 12%, 95%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#tweet-quote {
  align-self: flex-start;
  border-radius: 5px;
  height: 48px;
  width: 48px;
  border: none;
  background-color: hsl(220, 12%, 95%);
}

#tweet-quote:hover {
  cursor: pointer;
  background-color: rgb(89, 142, 240);
}

#tweet-quote > a {
  color: rgb(89, 142, 240);
  font-size: 24px;
  padding: 8px 13px;
}

#tweet-quote > a:hover {
  cursor: pointer;
  color: white;
}

#new-quote {
  align-self: flex-end;
  padding: 12px 10px;
  border-radius: 5px;
  font-size: 1rem;
  line-height: 1.4;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: rgb(89, 142, 240);
  color: white;
  border: none;
}

#new-quote:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(89, 142, 240);
  border: 1px solid rgb(89, 142, 240);
}